@import 'color/color';
@import '~matise-stack/_stack.scss', '~matise-grid/grid.scss';
@import 'mixins/_mixins.scss';
@import 'settings/settings';
@import 'typography/typography';
@import 'layout/layout', 'components/components';
@import 'layout/footer';
@import 'layout/one-column';
@import 'layout/two-column';


body,
html {
  background: color(White);
}


.link{
	&--external{
		text-decoration: underline;
	}
}

@media #{$mobile} {
	.mobile-hide{
		display: none;
	}
}
