.nav {
	padding: grid(1/3) 0;
	.menu-link {
		margin-right: rem(45);
		a {
			position: relative;
			&:before{
				content: "";
				position: absolute;
				z-index: -1;
				right: 0;
				width: 0;
				bottom: -5px;
				background: #000;
				height: 2px;
				transition-property: width;
				transition-duration: 0.3s;
				transition-timing-function: ease-out;
			}
			&:hover {
				&:before {
					left: 0;
					right: auto;
					width: 100%;
				}
			}
		}
		&.logo {
			background: black;
			position: absolute;
			margin-right: 0;
			right: 0;
		}
	}
}