$standardCubicBezier: cubic-bezier(0.42, 0.58, 0, 1);
$specialCubicBezier: cubic-bezier(0.7, 0, 0.3, 1);
.work__grid{
	column-count: 3;
	column-gap: grid(1);
	padding: grid(2);
	// position: relative;
	@media #{$medium-down}{
		column-count: 2;
	}
	@media #{$mobile}{
		column-count: 1;
	}
}

.work__card{
	break-inside: avoid;
	margin-bottom: grid(1.5);

	&.column1{
		&:first-of-type{
			padding-top: grid(1);
			@media #{$medium-down} {
				padding-top: 0;
			}
		}
		&+.column2{
			padding-top: grid(1.5);
			@media #{$medium-down} {
				padding-top: grid(.5);
			}
		}
	}

	&__image{
		width: grid(24 * 0.675);
		height: grid((24 * 0.675) * 0.5625);
		&:before{
			content: '';
		}
		@media #{$medium-down}{
			height: 80vh;
			width: calc(80vh * 1.5625);
		}
		@media #{$mobile}{
			height: 50vh;
			width: calc(50vh * 1.5625);
		}

		&-container{
			width: grid(6);
			display: flex;
			justify-content: center;
			overflow: hidden;
			@media #{$medium-down}{
				width: grid(9.25);
			}
			@media #{$mobile}{
				width: grid(20);
				height: grid(20);
			}
			&--small{
				height: grid(7);
				@media #{$medium-down} {
					height: grid(10);
				}
			}
			&--medium{
				height: grid(8);
				@media #{$medium-down} {
					height: grid(12);
				}
			}
			&--large{
				height: grid(9);
				@media #{$medium-down} {
					height: grid(14);
				}
			}
		}
	}
	&__description{
		width: grid(6);
		padding: rem(32 30);
		@media #{$medium-down}{
			width: grid(9.25);
		}
		@media #{$mobile}{
			width: grid(20);
		}
	}
}

.background-canvas { position: fixed; top: 0; left: 0; bottom: 0; right: 0; z-index: -1; transition: 1s $standardCubicBezier; opacity: 0; background: white; pointer-events: none;}
.card--hover{ z-index: 2; position: relative; transition: 1s $standardCubicBezier;
	p{
		color: white; transition: .5s $standardCubicBezier;
	}
}
.background--forward{ z-index: 1; opacity: 0.9; transition: 1s $standardCubicBezier;}

.expandCard {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: auto;
	z-index: 2;
	color: white;
	width: grid(24);
	height: 100vh;
	margin-bottom: 0;
}

.expandImage{
	bottom: 0;
	z-index: 2;
	padding: 0;
	left: 0;
	right: 0;
	animation: expand 2s .5s $specialCubicBezier forwards;
	img{
		width: 100vw;
		height: grid(24 * 0.5625);
		transition: 2s $specialCubicBezier .4s;
		@media #{$medium-down}{
			height: 100vh;
			width: calc(100vh * 1.5625);
		}
	}
	&+p{ opacity: 0;  transition: opacity .4s $standardCubicBezier; padding: 0; }
	}

.column1.expandCard{
	animation: leftToCenter 2.5s  $standardCubicBezier forwards;
	@media #{$medium-down} {
		animation: slideToCenter 2.5s  $standardCubicBezier forwards;
	}
}
.column2.expandCard{
	animation: slideToCenter 2.5s  $standardCubicBezier forwards;
	@media #{$medium-down} {
		animation: slideToCenter 2.5s  $standardCubicBezier forwards;
	}
}
.column3.expandCard{
	animation: rightToCenter 2.5s  $standardCubicBezier forwards;
	@media #{$medium-down} {
		animation: slideToCenter 2.5s  $standardCubicBezier forwards;
	}
}

.expandBackground{ opacity: 1; transition: .4s $standardCubicBezier; z-index: 1; pointer-events: auto;}



@keyframes leftToCenter {
	0%{
		padding-left: grid(2);
		padding-right: grid(16);
		top: grid(2);
	}
	20%{
		padding-left: grid(9);
		padding-right: grid(9);
		top: grid(2);
	}
	100%{
		width: grid(24);
		top: 0;
	}
}

@keyframes slideToCenter {
	0%{
		padding-left: var(--margin);
		padding-right: var(--margin);
		top: var(--top);
	}
	20%{
		top: var(--top);
		padding-left: var(--margin);
		padding-right: var(--margin);
	}
	100%{
		width: grid(24);
		top: 0;
	}
}

@keyframes rightToCenter {
	0%{
		padding-left: grid(16);
		padding-right: grid(2);
		top: grid(2);
	}
	20%{
		padding-left: grid(9);
		padding-right: grid(9);
		top: grid(2);
	}
	100%{
		width: grid(24);
		top: 0;
	}
}

@keyframes expand {
	0%{
		--y: var(--height);
		--xleft: var(--margin);
		--xright: calc(var(--margin) + var(--width));
		height: var(--height);

		position: absolute;
		width: 100vw;
		top: 0;
		clip-path: polygon(var(--xleft) 0, var(--xright) 0, var(--xright) var(--y), var(--xleft) var(--y));
	}
	5%{
		margin: 0 auto;
		clip-path: polygon(var(--xleft) 0, var(--xright) 0, var(--xright) var(--y), var(--xleft) var(--y));
	}
	100%{
		position: absolute;
		height: 100vh;
		width: 100vw;
		top: 0;
		clip-path: polygon(0 100vh, 0 0, 100vw 0, 100vw 100vh);
	}
}
