.work {
	.intro {

	}
	.work-items {
		width: 100%;

		display: flex;
		align-items: center;
		flex-wrap: wrap;
		.work-item {
			width: grid(6);
			margin-right: grid(1);
			margin-bottom: grid(1);
		    justify-content: center;
		    display: flex;
		    float: left;
		    flex-direction: column;
		    flex-grow: 1;

		    .image {
				width: 100%;
				overflow: hidden;

				img {
					width: 100%;
				}
			}

			.description {
				padding: grid(1/2);
			}
		}
		.work-item:nth-child(3n+3) {
			margin-right: 0;
		}
	}
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		z-index:2;
		background-color: red;
		opacity: 0.5;
		display: none;
	}
}

// .work-item:hover {
// 	.overlay {}
// }