.work-detail {
	.next-case {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		color: color(Light);
		cursor: pointer;
		position: relative;
		background-color: color(Black);
		overflow: hidden;
		transition: background-color 1s cubic-bezier(.42,0,.58,1);

		.case-text-inner {
			position: absolute;
			transform: translate(-50%);
			left: 50%;
			p{ font-size: 2rem;}
			.next-text {
				float: left;
				position: relative;
				margin-left:auto;
				margin-right:auto;
				text-align:right;
				overflow:hidden;
				white-space: nowrap;
				transition: width 0s ease 0.4s;
				#next-text {
					float: right;
					overflow-x:hidden;
					transition: width 0.4s cubic-bezier(.42,0,.58,1) 0.4s;
					p {direction: rtl;}
				}
			}
			.case-text {
				position: relative;
				right: 0;
				top: 0;
				float: right;
				transition: width 0.2s cubic-bezier(.42,0,.58,1) 0.2s;
			}
		}
		.case-image {
			overflow: hidden;
			position: absolute;
			width: grid(6);
			height: grid(8);
			// clip-path: polygon(0 100%, 0 0, 100% 0, 100% 100%);
			transform: translate(-50%);
			left: 50%;
			top: 100vh;
			transition: top 0.4s cubic-bezier(.42,0,.58,1) 0.6s;

			img {
				width: grid(16);
				position: absolute;
				transform: translate3d(-50%,-50%,0);
			    top: 50%;
			    left: 50%;
			}
		}
		&:hover {
			.next-text {
				width: 0px !important;
				transition: width 0s ease 0.6s;
				#next-text {
					width: 0px !important;
					transition: width 0.4s cubic-bezier(.42,0,.58,1) 0.2s;
				}
			}
			.case-text {
				width: 100% !important;
				transition: width 0.2s cubic-bezier(.42,0,.58,1) 0.6s;
			}
			.case-image {
				top: 90vh;
				transition: top 0.3s cubic-bezier(.42,2,.58,1) 0.6s;
			}
		}
		&.active {
			.case-image {
				transition: all 0.4s cubic-bezier(.42,0,.58,1) 0.1s;
				transform: translate3d(-50%,-50%,0);
			    top: 50%;
			}
		}
		&.rotation {
			.case-image {
				transform-origin: center;
				// transition: all 2s cubic-bezier(.7,0,.3,1);
				transition: transform 2s cubic-bezier(.7,0,.3,1), clip-path 2s cubic-bezier(.7,0,.3,1), width 2s cubic-bezier(.7,0,.3,1), height 2s cubic-bezier(.7,0,.3,1);
				transform: translate3d(-50%,-50%,0) rotate(-90deg);
    			// clip-path: polygon( 0 grid(24), 0 0, grid(24) 0, grid(24) grid(24));
    			width: 100vh;
    			height: 100vw;

				img {
					transition: transform 2s cubic-bezier(.7,0,.3,1), width 2s cubic-bezier(.7,0,.3,1);
					transform: translate3d(-50%,-50%,0) rotate(90deg);
				    width: 100vw;
				}
			}
		}
	}
}