.work-detail {
	.next-case {
		height: 100vh;
		display: flex;
		align-items: center;
		justify-content: center;
		color: color(Light);
		.case-text {
			display: inline-block;
			p {
				font-size: 2rem;
				transition: opacity 300ms;
				position: relative;
				display: block;
				&:hover {
					cursor: pointer;
					span {
						width: 105%;
					}
				}

				span{
					position: absolute;
					width: 0;
					right: 105%;
				    top: -3px;
					overflow: hidden;
					transition: width 0.25s;
				    display:block;
				    white-space: nowrap;
				    text-align: right;

				    &:after {
				    	display: none;
				    }
				}
			}
		}
	}
}