$base-fontpath: "~matise-assets/src/fonts";

@import "color/index";
@import "~matise-assets/index";
@import "settings/settings";
@import "typography/index";
@import "layout/index";
@import "components/index";
@import "components/work";

body {
  font-family: $body-font;
  background-color: color(White);
  margin: 0;
  padding: 0;

  ::selection {
    background: color(Gray);
    color: color(Light);
  }

  ::-moz-selection {
    background: color(Gray);
    color: color(Light);
  }

  &.scroll-disable {
    // when mobile menu is active body scroll-disable
    overflow: hidden;
  }
}
