@import 'color/index',
'~matise-stack/_stack.scss',
'~matise-grid/grid.scss',
'settings/settings',
'typography/index',
'components/index',
'layout/index';


#page{
	width: 100vw;
	height: 100vh;
	overflow: scroll;
	position: relative;
	background-color: white; 
}

section.intro {
	padding-top: grid(5);
	@media only screen and (max-width: 1024px) and (min-width: 768px){
		padding-top: grid(7);
	}
	@media #{$mobile}{
		padding: 0;
	}
}


.link{
	&--external{
		text-decoration: underline;
	}
}

@media #{$mobile} {
	.mobile-hide{
		display: none;
	}
}

// Create Background Classes
@each $name,$value in $colors{
	$name-lowercase: to-lower-case($name);
	.bg-#{$name}, .bg-#{$name-lowercase}{
		background-color: $value; color: contra($value);
		hr{
			background-color: currentColor; color: currentColor;
		}
	}
	.text-#{$name}, .text-#{$name-lowercase}, .content .text-#{$name-lowercase}{
		color: $value !important;
	}
	$opacity: (0.9,0.8,0.75,0.7,0.6,0.5,0.4,0.3,0.25,0.2,0.1);
	@each $opacity-value in $opacity{
		$opacity-name: "0#{$opacity-value * 100}";
		.bg-#{$name}-#{$opacity-name}, .bg-#{$name-lowercase}-#{$opacity-name}{
			background-color: color($name,$opacity-value); color: $value;
		}
	}
}
