// headers
%header-default{
	font-family: $heading-font-family; font-weight: $font-bold; margin: 0; padding: 0; text-align: left;
	&.sub{
		font-weight: $font-light;
	}
}

$minus: 0.1066;
%h1{
	font-size: grid(0.75); font-weight: $font-bold; line-height: 1.25;

	@extend %header-default;
	@include min-fontsize(0.75,24);
}
%h2{
	font-size: grid(0.75); font-weight: $font-semibold; line-height: 1.25;

	@extend %header-default;
	@include min-fontsize(0.75,24);
}
%h3{
	font-size: grid(0.4); font-weight: $font-bold; line-height: 1.25;

	@extend %header-default;
	@include min-fontsize(0.4,20);
}
%h4{
	font-size: grid(0.3); font-weight: $font-bold; line-height: 1.25;

	@extend %header-default;
	@include min-fontsize(0.3,16);
}
%h5{
	font-size: rem(14); line-height: 1.25;

	@extend %header-default;
}
%h6{
	font-size: rem(12); line-height: 1.25;

	@extend %header-default;
}




// make font styles

%font-regular{
	font-weight: $font-regular;
}
%font-bold{
	font-weight: $font-bold;
}
%small{
	font-size: smaller;
}
%del{
	text-decoration: line-through;
}
%ins{
	text-decoration: underline;
}
%sub{
	font-size: smaller; vertical-align: sub;
}
%sup{
	font-size: smaller; vertical-align: sup;
}

%p{
	font-family: $body-font-family; font-size: rem(16); font-weight: 400; line-height: rem(24); margin: 0; padding: 0;
	&.text-tiny{
		font-size: rem(12);
	}
	&.text-small{
		font-size: rem(14);
	}
	&.text-regular{
		font-size: rem(16);
	}
	&.text-large{
		font-size: rem(18);
	}
	&.text-xlarge{
		font-size: rem(24);
	}
}

%blockquote{
	margin: 0; padding: 0.5rem  1rem;
}
