h1,
h2,
h3,
h4,
h5,
pre,
span.code p {
  & + h1 {
    margin-top: 0.75rem;
  }
  & + p {
    margin-top: 2rem;
  }
  & + .row {
    margin-top: 1rem;
  }
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + p {
    margin-top: 1rem;
  }
}
span.code,
pre {
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5 {
    margin-top: 2rem;
  }
}
p {
  & + p {
    margin-top: 0.5rem;
  }
  @include wildcard('button', true) {
    margin-top: 2rem;
  }
  & + table {
    margin-top: 1rem;
  }
}
h1,
h2,
h3,
h4,
h5 {
  & + p {
    margin-top: grid(0.25);
  }
  & + table {
    margin-top: 1rem;
  }
}
h2,
h3,
h4 {
  & + h5 {
    margin-top: grid(0.2);
  }
}

table {
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + p {
    margin-top: 2rem;
  }
}
blockquote {
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + p {
    margin-top: 1rem;
  }
}
ul,
blockquote {
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5,
  & + p {
    margin-top: 1rem;
  }
}

div,
p {
  & + table,
  & + h1,
  & + h2,
  & + h3,
  & + h4,
  & + h5 {
    margin-top: grid(0.5);
  }
}
