$heading-font-weights: (
  'Light': 300,
  'Regular': 400,
  'SemiBold': 600
); //
$body-font-weights: (
  'Light': 300,
  'Regular': 400,
  'SemiBold': 600
); //
//
$font-light: map-get($heading-font-weights, Light); //
$font-regular: map-get($heading-font-weights, Regular); //
$font-book: $font-regular; //
$font-medium: $font-regular; //
$font-semibold: map-get($heading-font-weights, SemiBold); //
$font-bold: $font-semibold; //

// Base font
/*
	Use font-include for single fonts
	and font-list for a list using the $*-font-weights list
*/
$heading-font: 'Georgia'; //
$heading-font-name: 'TimesNewRoman--'; //
$heading-font-family: #{$heading-font}, serif; //
//
/* embed sing font weight */
//@include font-include($heading-font,$heading-font-name,normal,normal);
//
/* embed font family as list */
//@include font-list($heading-font,$heading-font-name,$heading-font-weights,normal); //
.heading-font-family,
%heading-font-family {
  font-family: $heading-font-family;
}
//
$body-font: 'Courier New'; //
$body-font-name: 'arial-'; //
$body-font-family: #{$body-font}, sans-serif; //
/* embed sing font weight */
//@include font-include($body-font,$body-font-name,normal,normal);
//
/* embed font family as list */
//@include font-list($body-font,$body-font-name,$body-font-weights,normal); //

.body-font-family,
%body-font-family {
  font-family: $body-font-family;
  font-weight: normal;
}
