@import 'font-embed', 'font-size', 'font-rules', 'font-elements';

// font colors
.dark{ color: color(Dark); }
.light{ color: color(Light); }
.gray{ color: color(Gray); }
.opacity{ opacity: 0.5; }


//span = medium font-weight
span{ font-weight: $font-medium; }

ol{ margin: 0; padding: 0; display: inline-block;
  li{ font-family: $body-font; font-size: rem(16); line-height: rem(28); color: color(Dark);
    //breakpoint 640px
    @media only screen and (max-width : 640px){ font-size: rem(14); line-height: rem(24); }
    // list item medium font-weight
    &.medium{ font-weight: $font-medium; }
    // list item regular font-weight
    &.regular{ font-weight: $font-regular; }
  }
}

ul{ margin: 0; padding: 0;
  li{
    // general menu typo
    &.menu{ font-family: $body-font; font-size: rem(14); line-height: rem(16); font-weight: $font-medium; color: color(Dark);
      // menu header typo
      &.header{
        //breakpoint 640px
        @media only screen and (max-width : 640px){ font-size: rem(20); line-height: rem(48); }
      }
      // menu footer typp
      &.footer{ }
    }
  }
}
