// home
#home-slider { z-index: 1; transition: background-color 1s $easeboth; background-color: var(--caseColor, color(Black));
	&.changeShadow{
		.swiper-container{
			.swiper-wrapper{
				.swiper-slide{
					.content_container{
						.shadow{ box-shadow: 0 0 grid(2) 0 var(--caseColor, black); }
					}
				}
			}
		}
	}

	// swiper
	.swiper-container { overflow: hidden;

		// typewriter
		.home-bg-parallax{ height: 100vh; width: 100%; position: absolute; display: flex; align-items: center;
			#typeWriterTitle{ position: absolute; white-space: nowrap;
				h1{ color: color(White); font-size: grid(6); width: max-content; height: 100%; font-weight: $font-medium; padding: 0px grid(2);
					@media #{$medium-only}{ font-size: rem(192); }
					&.caret:after{ border-color: color(White); }
				}
				p{ display: none; }
			}
		}

		.swiper-wrapper { display: flex; justify-content: space-between; height: 100vh; width: grid(24); z-index: 1;
			.swiper-slide { height: 100vh; width: grid(16);

				// content container
				.content_container{ position: relative; display: flex; justify-content: center; align-items: center; height: 100vh; width: 100%;

					// general content
					.content{ position: absolute; transform-origin: 50% 50%; width: grid(7); z-index: 1;
						p{ color: color(Light); font-size: rem(16); line-height: rem(24); top: 32px; position: absolute; width: 100%; display: block; }
						&.name{ transform: rotate(90deg) translate(0, 0);
							p{ font-weight: $font-medium; }
							@media #{$medium-only}{ display: none; }
						}
						&.description{ transform: rotate(90deg) translate(0, 0);
							p{ font-weight: $font-regular; top: auto; bottom: 32px; }
							@media #{$medium-only}{ display: none; }
						}
					}
					.content_for_medium{ display: none;
						@media #{$medium-down}{ display: block; width: grid(12);
							p{ color: color(White);
								span{ font-weight: $font-medium;
									&:after{ content:'—'; }
								}
							}
						}
					}

					// content in blocks
					&.portrait_block{
						.content{ height: grid(8);
							&.name{
								p{ transform: translateY(grid(8)); }
							}
							&.description{
								p{ transform: translateY(grid(-8)); max-width: 32ch; }
							}
						}
						.content_for_medium{
							@media #{$medium-down}{
								p{ transform: translateY(grid(9)); }
							}
						}
					}
					&.square_block{
						.content{ height: grid(9);
							&.name{
								p{ transform: translateY(grid(9)); }
							}
							&.description{
								p{ transform: translateY(grid(-9)); max-width: 32ch; }
							}
						}
						.content_for_medium{
							@media #{$medium-down}{
								p{ transform: translateY(grid(10)); }
							}
						}
					}
					&.landscape_block{
						.content{ height: grid(10);
							&.name{
								p{ transform: translateY(grid(10)); }
							}
							&.description{
								p{ transform: translateY(grid(-10)); max-width: 32ch; }
							}
						}
						.content_for_medium{
							@media #{$medium-down}{
								p{ transform: translateY(grid(8)); }
							}
						}
					}

					// shading
					.shadow{ width: grid(8.5); height: grid(8.5); border-radius: 50%; box-shadow: 0 0 grid(2) grid(.75) black; position: absolute; transition: box-shadow 1s $easeboth;
						&.landscape_image{ width: grid(9.5); height: grid(6.5); }
						&.portrait_image{ width: grid(7.5); height: grid(10.5); }
						&.square_image{ width: grid(8.5); height: grid(8.5); }
					}

					// image holder
					.image_holder{ overflow: hidden; display: flex; align-items: center; justify-content: center; position: relative; z-index: 2; display: block; transition: 0.5s;
						&.landscape_image{ width: grid(12.5); height: grid(8.75); clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%); -webkit-clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%); border: 1px solid red;
							&:hover{ clip-path: polygon(17% 1%, 95% 21%, 83% 99%, 5% 79%); -webkit-clip-path: polygon(17% 1%, 95% 21%, 83% 99%, 5% 79%); }
						}
						&.portrait_image{ width: grid(10); height: grid(13.75); clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%); -webkit-clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
							&:hover{ clip-path: polygon(21% 5%, 99% 17%, 79% 95%, 1% 83%); -webkit-clip-path: polygon(21% 5%, 99% 17%, 79% 95%, 1% 83%); }
						}
						&.square_image{ width: grid(11.25); height: grid(11.25); clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%); -webkit-clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
							&:hover{ clip-path: polygon(19% 3%, 97% 19%, 81% 97%, 3% 81%); -webkit-clip-path: polygon(19% 3%, 97% 19%, 81% 97%, 3% 81%); }
						}
						// image position
						.image_position{ position: absolute; width: 100vw; height: 100vh; left: 50%; top: 50%; transform: translate(-50%, -50%) scale(.9);
							.image_actual{ position: absolute; width: 100%; height: 100%; text-align: center; display: flex;
								img{ object-fit: cover; margin: 0px; }
							}
						}
					}
				}

				// &.jumpUp {
				// 	// animation: jumpup 0.8s cubic-bezier(0.42, -1, 0.58, 1) forwards 0.5s;
				// 	@keyframes jumpup {
				// 		0% { top: 100%; }
				// 		100% { top: 0; }
				// 	}
				// }
			}
		}

		// swiper slide navigation
		.swiper-scrollbar { $blackPointWidth: rem(20); $bulletWidth: rem(70);
			$scrollBarHeight: rem(2);
			width: calc(490px - 20px) !important;
			height: #{$scrollBarHeight};
			background-color: color(Light, 0.25);
			bottom: rem(50);
			transform: translate(-50%);
			left: 50%;
			z-index: 0;
			overflow: hidden;

			.bullet {
				width: #{$blackPointWidth};
				height: 100%;
				float: left;
				margin-left: calc(#{$bulletWidth} - #{$blackPointWidth});
				position: relative;
				top: -#{$scrollBarHeight};
				transition: background-color 1s cubic-bezier(0.42, 0, 0.58, 1);

				// &.beBlack {
				// 	background-color: black !important;
				// }
			}

			.swiper-scrollbar-drag {
				width: #{$bulletWidth} !important;
				border-radius: 0;
				background-color: color(Light);
			}
			@media #{$small-only} {
				display: none;
			}
		}
	}

	.contentDisappear {
		opacity: 0;
		transition: opacity 1s cubic-bezier(.42,0,.58,1) !important;

		&.show {
			opacity: 1;
		}
	}
}

#home-slider.start {}
