// home slider
.home-slider {
  z-index: 1;
  background-color: color(Black);
  user-select: none;

  @media #{$small-only} {
    background-color: color(Dark);
  }

  &__typewriter {
    .typeWriterTitle {
      h1 {
        color: color(White);
        font-size: grid(6);

        @media #{$medium-only} {
          font-size: rem(192);
        }

        @media #{$small-only} {
          font-size: rem(128);
        }

        &.caret {
          &::after {
            border-color: color(White);
            transform: translateX(grid(-2));

            @media #{$large-up} {
              border-width: 4px;
            }

            @media #{$small-only} {
              transform: translateX(grid(0));
              top: 16px;
            }
          }
        }
      }

      p {
        display: none;
      }
    }
  }

  // swiper
  .swiper-container {
    // swiper wrapper
    .swiper-wrapper {
      display: flex;
      justify-content: space-between;
      height: 100vh;
      width: grid(24);
      z-index: 1;
    }

    // swiper slide navigation
    .swiper-pagination {
      &.change-z {
        z-index: 0;
      }

      width: 420px;
      height: 2px;
      bottom: grid(0.75);
      transform: translateX(-50%);
      left: 50%;
      z-index: 2;
      position: absolute;
      border-radius: 0;

      @media #{$medium-only} {
        bottom: grid(2);
      }

      @media #{$small-only} {
        display: none;
      }

      .swiper-pagination-bullet {
        width: 40px;
        height: 12px;
        margin: 0 10px;
        border-radius: 0;
        transform: translateY(-4px);
        display: block;
        float: left;
        background: transparent;

        .swiper-pagination-bullet-active {
          background: transparent;
        }
      }
    }

    .swiper-scrollbar {
      width: 420px !important;
      height: 2px;
      background-color: color(Light, 0.25);
      bottom: grid(0.75);
      transform: translateX(-50%);
      left: 50%;
      z-index: 0;
      overflow: hidden;
      position: relative;
      border-radius: 0;

      @media #{$medium-only} {
        bottom: grid(2);
      }

      &::after,
      &::before {
        position: absolute;
        height: 2px;
        background-color: color(Black);
        width: 20px;
        content: "";
        display: block;
        z-index: 1;
        top: 0;
        left: -10px;
      }

      &::after {
        left: auto;
        right: -10px;
      }

      .bullet {
        z-index: 2;
        width: 20px;
        margin: 0 20px;
        background-color: color(Black);
        height: 100%;
        float: left;
        position: relative;

        &:nth-child(1) {
          margin-left: 50px;
        }
      }

      .swiper-scrollbar-drag {
        width: 60px !important;
        border-radius: 0;
        background-color: color(Light);
      }

      @media #{$small-only} {
        display: none;
      }
    }
  }
}

.home-slider {
  .swiper-slide {
    height: 100vh;
    width: grid(16);
    position: relative;
    transform: translateY(100%);

    @media #{$medium-only} {
      width: grid(18);
    }

    @media #{$small-only} {
      width: 100%;
      height: calc(100vw * 1.25);
      transform: translateY(0%);
    }

    // content container
    .content_container {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100%;

      @media #{$small-only} {
        transform: translateY(-32px);
      }

      @media #{$small-only} {
        height: 100%;
      }

      // general content
      .content {
        position: absolute;
        transform-origin: 50% 50%;
        width: grid(6.5);
        z-index: 1;

        p {
          color: color(Light);
          font-size: rem(16);
          line-height: rem(24);
          top: 32px;
          position: absolute;
          width: 100%;
          display: block;
        }

        &.name {
          transform: rotate(90deg) translate(0, 0);

          p {
            font-weight: $font-medium;
          }

          @media #{$medium-only} {
            display: none;
          }

          @media #{$small-only} {
            transform: none;
            width: calc(100vw - 64px);
            height: calc(100vw - 64px) !important;

            p {
              top: 100%;
              position: absolute;
              transform: translateY(32px) !important;
              font-size: rem(14);
              padding: 0 24px;
            }
          }
        }

        &.description {
          transform: rotate(90deg) translate(0, 0);

          p {
            font-weight: $font-regular;
            top: auto;
            bottom: 32px;
          }

          @media #{$medium-down} {
            display: none;
          }
        }
      }

      .content_for_medium {
        display: none;

        @media #{$medium-only} {
          position: absolute;
          display: block;
          margin: 0 auto;

          p {
            color: color(White);
            position: absolute;
            bottom: 0;
            transform: translateY(calc(100% + 32px));

            span {
              font-weight: $font-medium;

              &::after {
                content: "—";
              }
            }
          }
        }
      }

      // content in blocks
      &.portrait_block {
        .content {
          height: grid(8);

          &.name {
            p {
              transform: translateY(grid(8));
            }
          }

          &.description {
            p {
              transform: translateY(grid(-8));
              max-width: 32ch;
            }
          }
        }

        .content_for_medium {
          @media #{$medium-only} {
            width: grid(12);
            height: grid(16);
          }
        }
      }

      &.square_block {
        .content {
          height: grid(9);

          &.name {
            p {
              transform: translateY(grid(9));
            }
          }

          &.description {
            p {
              transform: translateY(grid(-9));
              max-width: 32ch;
            }
          }
        }

        .content_for_medium {
          @media #{$medium-only} {
            width: grid(14);
            height: grid(14);
          }
        }
      }

      &.landscape_block {
        .content {
          height: grid(10);

          &.name {
            p {
              transform: translateY(grid(10));
            }
          }

          &.description {
            p {
              transform: translateY(grid(-10));
              max-width: 32ch;
            }
          }
        }

        .content_for_medium {
          @media #{$medium-only} {
            width: grid(14);
            height: grid(10.5);
          }
        }
      }

      // shading
      .shadow {
        width: grid(8.5);
        height: grid(8.5);
        border-radius: 50%;
        box-shadow: 0 0 grid(2) grid(0.75) black;
        position: absolute;

        &.landscape_image {
          width: grid(9.5);
          height: grid(7);

          @media #{$medium-only} {
            width: grid(13.5);
            height: grid(10);
          }

          @media #{$small-only} {
            width: calc(100vw - 64px);
            height: calc(100vw - 64px);
          }
        }

        &.portrait_image {
          width: grid(7.5);
          height: grid(10.5);

          @media #{$medium-only} {
            width: grid(11.5);
            height: grid(15.5);
          }

          @media #{$small-only} {
            width: calc(100vw - 64px);
            height: calc(100vw - 64px);
          }
        }

        &.square_image {
          width: grid(8.5);
          height: grid(8.5);

          @media #{$medium-only} {
            width: grid(13.5);
            height: grid(13.5);
          }

          @media #{$small-only} {
            width: calc(100vw - 64px);
            height: calc(100vw - 64px);
          }
        }
      }

      // image holder
      .image_holder {
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        z-index: 2;
        display: block;
        cursor: pointer;

        &.landscape_image {
          width: grid(12.5);
          height: grid(9.375);
          clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);

          @media #{$medium-only} {
            width: grid(17.5);
            height: grid(13.125);
          }
        }

        &.portrait_image {
          width: grid(10);
          height: grid(13.75);
          clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);

          @media #{$medium-only} {
            width: grid(15);
            height: grid(20);
          }
        }

        &.square_image {
          width: grid(11.25);
          height: grid(11.25);
          clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);

          @media #{$medium-only} {
            width: grid(17.5);
            height: grid(17.5);
          }
        }


        @media #{$small-only} {
          &.landscape_image,
          &.portrait_image,
          &.square_image {
            width: calc(100vw - 64px);
            height: calc(100vw - 64px);
            clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);

            &:hover {
              clip-path: none;
              -webkit-clip-path: none;
            }
          }
        }

        // image position
        .image_position {
          position: absolute;
          width: 100vw;
          height: 83.34vw;
          min-height: 100vh;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);

          .image_actual {
            position: absolute;
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;

            img {
              object-fit: cover;
              margin: 0;
              position: relative;
              left: 50%;
              transform: translateX(-50%) scale(0.9);
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}
