#home-slider {
	background-color: color(Black);
	transition: background-color 1s cubic-bezier(0.42, 0, 0.58, 1);
	.swiper-container {
		overflow: hidden;
		.home-bg-parallax {
			height: 100vh;
			width: 100vw;
			position: absolute;
			display: flex;
			align-items: center;

			span {
				padding-left: grid(2);
				p {
				    white-space: nowrap;
					color: color(Light);
					font-size: rem(480);
				}
			}
		}
		.swiper-wrapper {
			display: flex;
			justify-content: space-between;
			height: 100vh;
			width: grid(24);

			.swiper-slide {
				width: grid(10);
				display: flex;
				align-items: center;
				justify-content: center;
				@media #{$small-only} {
					width: 100%;
				}
				.content {
					position: absolute;
					transform-origin: 0 0;
					top: 50%;
					width: 100%;
					padding: 0 grid(2);
					transform: rotate(90deg) translate(-50%, -100%);
					&.name {
					    left: 4%;
					}
					&.description{
					    left: 93%;
					}
					@media #{$small-only} {
						transform: rotate(0deg) translate(0%, 0%);
						top: 80%;
						&.name {
						    left: 0%;
						}
						&.description{
							display: none;
						    left: 0%;
						}
					}
					p{ color: color(Light); }

				}
				.contentHolder {
					width: grid(8)!important;
					overflow: hidden;
					display: flex;
					align-items: center;
					justify-content: center;
					transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s,
								box-shadow 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;															;
					box-shadow: 0 0 grid(1) 1px rgba(0,0,0,1);
					cursor: pointer;

					&.full-height {
						height: 80vh;
					}
					&.medium-height {
						height: 60vh;
					}
					&.small-height {
						height: 45vh;
					}
					@media #{$small-only} {
						width: 100% !important;
						&.full-height, &.medium-height, &.small-height {
							height: 50vh;
						}
					}
					.rotator {
						img {
							display: table-row; 
							margin: 0 auto;
							transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.15s;
						}
					}
					&:hover {
						transform: rotate(-15deg);
						box-shadow: none;

						img {
							transform: rotate(15deg);
						}
					}
				}
			}
		}
		.swiper-scrollbar {
			$blackPointWidth: 20px;
			$bulletWidth: 70px;
			$scrollBarHeight: 2px;
			width: calc(490px - 20px) !important;
			height: #{$scrollBarHeight};
			background-color: color(Light, 0.25);
			bottom: grid(1);
			transform: translate(-50%);
			left: 50%;
			.bullet {
				width: #{$blackPointWidth};
				height: 100%;
				background-color: color(Black);
				float: left;
				margin-left: calc(#{$bulletWidth} - #{$blackPointWidth});
				position: relative;
				top: -#{$scrollBarHeight};
				transition: background-color 1s cubic-bezier(0.42, 0, 0.58, 1);

				&.beBlack {
					background-color: black !important;
				}
			}
			.swiper-scrollbar-drag {
				width: #{$bulletWidth} !important;
				border-radius: 0;
				background-color: color(Light);
			}
			@media #{$small-only} {
				display: none;
			}
		}
	}
}
