.nav {
	.nav__list-item {
		&__top, &__footer {
			a{ font-size: rem(14);
				position: relative;
				font-weight: $font-medium;
				&:before{
					content: "";
					position: absolute;
					right: 0;
					width: 0;
					bottom: -4px;
					background-color: color(Black);
					height: 1px;
					transition-property: width;
					transition-duration: 0.3s;
					transition-timing-function: ease-out;
				}
				&:hover {
					&:before {
						left: 0;
						right: auto;
						width: 100%;
					}
				}
			}
		}
		&__top {
			margin-right: grid(3/4);
			@media #{$small-only}{
				width: 100%;
			}
			a {
				@media #{$small-only}{
					color: color(Light);
					&:before{background-color: color(Light);}
				}
			}
			&.logo {
				background: color(Black);
				position: absolute;
				margin-right: 0;
				height: rem(50);
				right: 0;
				top: 0.5rem;
				@media #{$small-only}{
					display: none;
				}
				a {
					&:before {
						display: none;
					}
				}
			}
			&.main-link {
				a {
					@media #{$small-only}{
						font-size: 1.3rem;
						line-height: 3rem;
					}
				}
			}
		}
		&__footer {
			margin-right: grid(.75);
			@media #{$medium-down}{
				margin-right: grid(1);
				&:last-of-type{ margin: 0;}
			}
			&--active {
				position: relative;
				a:before {
					left: 0;
					right: auto;
					width: 100%;
				}
			}
		}
	}
	&.footer__nav {
		margin-top: rem(30);
		@media #{$xxlarge-only}{
			margin-top: rem(40);
		}
		@media #{$medium-down}{
			margin-top: rem(24);
		}
	}
	&.top__nav {
		padding: grid(1/3) 0;
		display: flex;
	    flex-direction: column;
		flex-wrap: wrap;
		justify-content: space-between;
		@media #{$small-only}{
			position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-color: color(Black); padding: grid(1); transition: clip-path .3s; 
			color: color(Light);
			animation: closeMenu .5s ease-in-out forwards;
			padding: rem(87) rem(64) rem(90) rem(64);
		}
		.top__contact-us {
			display: none;
			@media #{$small-only}{
				display: block;
			}
			.nav__list-item__top {
				a {font-size: rem(14);
				}
				&.info-link {
				    margin: -2.5px 0;
				    a{ font-weight: $font-regular;}
				}
				&.title {
					 a{ font-weight: $font-medium;
					 	&::before {
				    		display: none !important;
				    	}
					 }
				}
			}
		}
	}
}
// MOBILE TRIGGER MENU HAMBURGER
$time: 0.6;

.sidekick {
	position: fixed;
	right: 0;
	top: 50%;
	width: rem(54);
	z-index: 10;
	transform: translateY(-50%);

	display: none;
	@media #{$small-only}{
		display: block;
	}
	a.logo {
		display: block;
		background-color: color(Black);
		width: rem(54);
		height: rem(110);
		display: block;
		img {
			transform: rotate(90deg);
			position: absolute;
			top: 31px;
    		left: -34px;
		}
	}
	label.trigger {
		display: block;
		width: rem(54);
		height: rem(54);
		background-color: color(Light);
		position: relative;
		span {
			left: 23px !important;
			@include menu(1rem, 0.125rem, 0.1875rem,  color(Black));
			& {
				background-color: color(Light);
				width: 1rem;
				animation: growSpan #{$time}s #{$time}s forwards;
			}
			&:before {
				transform: translate(0, 5px);
				animation: goUpBefore #{$time}s 0s forwards;
			}
			&:after {
				transform: translate(0, -5px);
				animation: goDownAfter #{$time}s 0s forwards;
			}
		}
	}
}
@keyframes goUpBefore {
	0% {
		transform: rotate(-45deg) translate(0, 5px);
		width: 1rem;
	}
	50% {
		transform: rotate(0deg) translate(0, 5px);
		width: 1.5rem;
	}
	100% {
		transform: rotate(0deg) translate(0, 0);
		width: 1.5rem;
	}
}
@keyframes growSpan {
	0% {
		background-color: color(Black);
		width: 1.5rem;
	}
	50% {
		background-color: color(Black);
		width: 1.5rem;
	}
	100% {
		background-color: color(Black);
		width: 1.5rem;
	}
}
@keyframes goDownAfter {
	0% {
		transform: rotate(45deg) translate(0, -5px);
		width: 1rem;
	}
	50% {
		transform: rotate(0deg) translate(0, -5px);
		width: 1.5rem;
	}
	100% {
		transform: rotate(0deg) translate(0, 0);
		width: 1.5rem;
	}
}
input#menu-trigger {
	width: 0;
	height: 0;
	opacity: 0;
	display: block;
	margin: 0;
	padding: 0;
	visibility: hidden;
	&:checked {
    & ~ .top__nav{
      animation: openMenu .3s ease-in-out forwards;
    }
		& ~ .sidekick {
			overflow: hidden;
			.trigger {
				span {
					left: 27px !important;
					& {
						background-color: color(Black);
						animation: rotateSpan #{$time}s #{$time}s forwards;
					}
					&:before {
						animation: goLeft #{$time*2}s 0s forwards;
					}
					&:after {
						animation: goRight #{$time*2}s 0s forwards;
					}
				}
			}
		}
	}
}
@keyframes closeMenu{
  0%{ clip-path: inset(0 0% 0 0); }
  100%{ clip-path: inset(0 0 0 100%); }
}
@keyframes openMenu{
  0%{ clip-path: inset(0 100% 0 0); }
  100%{ clip-path: inset(0 0% 0 0); }
}
@keyframes goLeft {
	0% {
		transform: rotate(0deg) translateX(0) scale(1);
		width: 1.5rem;
	}
	50% {
		transform: rotate(0deg) translateX(-5rem) scale(1);
		width: 1.5rem;
	}
	51% {
		top: 0;
		transform: rotate(0deg) translateX(0) scale(1);
		width: 1rem;
	}
	100% {
		top: 0;
		transform: rotate(45deg) translateX(0) scale(1);
		width: 1rem;
	}
}
@keyframes goRight {
	0% {
		transform: rotate(0deg) translateX(0) scale(1);
		width: 1.5rem;
	}
	50% {
		transform: rotate(0deg) translateX(5rem) scale(1);
		width: 1.5rem;
	}
	51% {
		top: 0;
		transform: rotate(0deg) translateX(0) scale(1);
		width: 1rem;
	}
	100% {
		top: 0;
		transform: rotate(-45deg) translateX(0) scale(1);
		width: 1rem;
	}
}
@keyframes rotateSpan {
	0%,
	33% {
		background-color: black;
		width: 16px;
	}
	33%,
	100% {
		background-color: color(Light);
		width: 16px;
	}
}
