#header {
  .nav {
    top: grid(1.5);
    left: grid(2);
    position: absolute;
    @media #{$small-only} {
      top: 0;
      left: 0;
    }
  }
}

$logo-height: 54px;
$time: 0.6;

.nav {
  // general nav styling
  mix-blend-mode: difference;
  @media #{$small-only} {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: color(Black);
    padding: grid(1);
    transition: clip-path 0.3s;
    color: color(Light);
    animation: closeMenu 0.5s ease-in-out forwards;
    padding: rem(87) 4rem rem(90) 4rem;
  }

  &__logo {
    background-color: color(Black);
    position: absolute;
    right: 0px;
    top: grid(1.5);
		z-index: 12;
    height: rem($logo-height);
		-webkit-backface-visibility: visible;

    @media #{$small-only} {
      top: 50vh;
      transform-origin: calc(100% + 54px) 100%;
      transform: rotate(90deg) translateX(calc(50% - #{rem($logo-height / 2)}))
        translateY(200%);
    }
  }

  &__list {
    // styling for list (ul/ol)
  }
  &__item {
    // Styling for item ( li )
    @media #{$medium-up} {
      & + .nav__item {
        margin-left: grid(0.75);
      }
    }

    @media #{$small-only} {
      display: block;
    }
  }
  &__link {
    // Styling for link (a / nuxt-link) attribute
    position: relative;
    &:before {
      content: '';
      position: absolute;
      right: 0;
      width: 0;
      bottom: -4px;
      background-color: color(White);
      height: 1px;
      transition-property: width;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
    }
    &:hover {
      &:before {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
    &--active {
      &:before {
        position: absolute;
        left: 0;
        right: auto;
        width: 100%;
      }
      // active link hover
      &:hover {
        &:before {
          right: 0;
          left: auto;
          width: 0%;
        }
      }
    }
  }
  &__text {
    // Styling for text (span in a) attribute
    font-size: rem(14);
    line-height: rem(50);
    color: color(White);
    font-weight: $font-medium;
    @media #{$small-only} {
      font-size: rem(20);
      line-height: 2.4;
    }
  }

  &__contact {
    display: none;
		position: absolute; bottom: 5.75rem;
    // Will only show on mobile
		@media #{$small-only}{
			display: block;
		}
  }
}

// MOBILE TRIGGER MENU HAMBURGER

.trigger {
  background-color: color(Light);
  width: rem($logo-height);
  height: rem($logo-height);
  position: absolute;
  cursor: pointer;
  right: 0;
  // z-index: 10;
  top: 0;
  display: none;
  transform: translateX(100%) rotate(90deg);
  @media #{$small-only} {
    display: block;
  }
  span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include menu(1rem, 0.125rem, 0.1875rem, color(Black));

    & {
      width: rem(24);
      margin: 0;
      animation: spanWidth #{$time}s 0s forwards;
    }

    &:before {
      transform: translate(0, 5px);
      width: 100%;
      animation: goUpBefore #{$time}s 0s forwards;
    }

    &:after {
      transform: translate(0, -5px);
      width: 100%;
      animation: goDownAfter #{$time}s 0s forwards;
    }
  }
}
@keyframes spanWidth {
  50% {
    width: rem(16);
  }

  100% {
    width: rem(24);
  }
}
@keyframes goUpBefore {
  0% {
    transform: rotate(-45deg) translate(0, 5px);
    width: rem(16);
  }

  50% {
    transform: rotate(0deg) translate(0, 5px);
    width: rem(16);
  }

  100% {
    transform: rotate(0deg) translate(0, 0);
    width: rem(24);
  }
}
@keyframes goDownAfter {
  0% {
    transform: rotate(45deg) translate(0, -5px);
    width: rem(16);
  }

  50% {
    transform: rotate(0deg) translate(0, -5px);
    width: rem(16);
  }

  100% {
    transform: rotate(0deg) translate(0, 0);
    width: rem(24);
  }
}

input#menu-trigger {
  width: 0;
  height: 0;
  opacity: 0;
  display: block;
  margin: 0;
  padding: 0;
  visibility: hidden;

  &:checked {
    & ~ #header .nav {
      animation: openMenu 0.3s ease-in-out forwards;
    }

    & ~ .nav__logo {
      .trigger {
        span {
          & {
            background-color: color(Black);
            animation: rotateSpan 0.6s forwards;
          }

          &:before {
            animation: goLeft #{$time}s 0s forwards;
          }

          &:after {
            animation: goRight #{$time}s 0s forwards;
          }
        }
      }
    }
  }
}
@keyframes closeMenu {
  0% {
    clip-path: inset(0 0% 0 0);
  }

  100% {
    clip-path: inset(0 0 0 100%);
  }
}
@keyframes openMenu {
  0% {
    clip-path: inset(0 100% 0 0);
  }

  100% {
    clip-path: inset(0 0% 0 0);
  }
}
@keyframes goLeft {
  0% {
    transform: rotate(0deg) translateX(0);
    width: rem(24);
  }

  50% {
    transform: rotate(0deg) translateX(-5rem);
    width: rem(24);
  }

  51% {
    top: 0;
    transform: rotate(0deg) translateX(0);
    width: rem(16);
  }

  100% {
    top: 0;
    transform: rotate(45deg) translateX(0);
    width: rem(16);
  }
}
@keyframes goRight {
  0% {
    transform: rotate(0deg) translateX(0);
    width: rem(24);
  }

  50% {
    transform: rotate(0deg) translateX(5rem);
    width: rem(24);
  }

  51% {
    top: 0;
    transform: rotate(0deg) translateX(0);
    width: rem(16);
  }

  100% {
    top: 0;
    transform: rotate(-45deg) translateX(0);
    width: rem(16);
  }
}
// rotate span
@keyframes rotateSpan {
  0% {
    background-color: color(Dark);
    width: rem(16);
  }

  100% {
    background-color: color(Light);
    width: rem(16);
  }
}
