section.next_case{
	background-color: color(Dark); height: 100vh; width: 100vw; overflow: hidden; transition: background-color 1s $easeboth; position: relative;

	// holder
	.holder{
		color: color(Light); opacity: 1; z-index: 2; position: relative; height: 100%;

		// hover container
		.hover_container{
			cursor: pointer; width: 100vw; height: auto; position: relative; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: 1; display: block;
		}
	}
}

// case image
.case_image{
	--gridW: calc((100vw / 24) * 6);
	--gridH: calc((100vw / 24) * 8);

	--x1: calc((100vw - var(--gridW)) / 2);
	--x2: calc(var(--x1) + var(--gridW));
	--y1: calc((100vh - var(--gridH)) / 2);
	--y2: calc(var(--y1) + var(--gridH));
	@media #{$medium-down}{
		--gridW: calc((100vw / 24) * 9);
		--gridH: calc((100vw / 24) * 10);
	}
	@media #{$mobile}{
		--gridW: calc((100vw / 24) * 20);
		--gridH: calc((100vw / 24) * 20);
	}

	clip-path: polygon(
	var(--x1) var(--y1),
	var(--x2) var(--y1),
	var(--x2) var(--y2),
	var(--x1) var(--y2));

	width: 100vw; height: 100vh;
	background-size: 65.7vw; background-repeat: no-repeat; background-position: center;

	&--expand{
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		animation: upAndExpand 1s .5s $specialcubicbezier forwards;
		background-size: 100vw;
		transition: background-size 1.1s .4s $specialcubicbezier;
		@media #{$medium-down}{
			background-size: 175vh;
		}
	}
}
@keyframes upAndExpand {
	0%{
		clip-path: polygon(
		var(--x1) var(--y1),
		var(--x2) var(--y1),
		var(--x2) var(--y2),
		var(--x1) var(--y2));
	}
	10%{
		clip-path: polygon(
		var(--x1) var(--y1),
		var(--x2) var(--y1),
		var(--x2) var(--y2),
		var(--x1) var(--y2));
		z-index: 10;
	}
	100%{
		z-index: 10;
		clip-path: polygon(
		-10vw 110vh,
		-10vw -10vh,
		110vw -10vh,
		110vw 110vh
		);
	}
}
