// .page-transition-overlay {
//     position: fixed;
//     background-color: white;
//     z-index: 500;
//     height: 100%;
//     opacity: 1;
//     animation-duration: 2s;
//     animation-delay: 2s;
//     animation-direction: forwards;

//     &_open {
//         width: 100%;
//         right: 0;
//         animation-name: exampleOpen;
//         @keyframes exampleOpen {
//             0%   { width: 100%;}
//             100% { width: 0%;}
//         }
//     }

//     &_close {
//         width: 0%;
//         left: 0;
//         animation-name: exampleClose;
//         @keyframes exampleClose {
//             0%   { width: 0%;}
//             100% { width: 100%;}
//         }
//     }
// }