$easeboth: cubic-bezier(.42,0,.58,1);

#typeWriterTitle {
	position: relative;
	text-align: center;

	p {
		font-size: grid(.4);
		padding-top: grid(.4);
		opacity: 0;
		transition: 0.2s $easeboth opacity 0.6s;

		&.show {
			opacity: 1;
			transition: 0.2s $easeboth opacity 0.6s;
		}
	}

	h1 {
		color: colorDark;
		position: relative;
		width: fit-content;
		margin: auto;
		padding-bottom: grid(.2);
		line-height: 1;
		font-size: grid(2);
		height: grid(2);

		&.caret {
			&:after {
				content: '';
				border-right: solid 2px black;
				position: absolute;
				height: 100%;
				bottom: 0;
				right: 2px;
			}
		}
	}
}
