.work__grid {
	background-color: color(White);
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: grid(0 2);
	min-height: 100vh;
	@media #{$medium-down} {
		padding: grid(0 1.75);
	}
	@media #{$medium-down} {
		padding: grid(0 2);
	}
	&--column1{
		margin-top:grid(.8);
		margin-right: grid(1);
		@media #{$medium-down} {
			margin-right: grid(2);
		}
		@media #{$mobile} {
			margin-right: grid(0);
		}
	}

	&--column2{
		margin-top: grid(1.5);
		margin-right: grid(1);
		@media #{$medium-down} {
			padding-top: grid(.5);
			margin-right: 0;
		}
	}

	&--column3{
		@media#{$medium-down} {
			display: none;
		}
	}
	margin-bottom: grid(5);
	@media #{$medium-down} {
		margin-bottom: grid(2.5);
	}
	@media #{$mobile} {
		margin-bottom: rem(96);
	}
}

.work__card {
	margin-bottom: grid(1.5);
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
	&__image {
		&-container {
			width: grid(6);
			display: flex;
			justify-content: center;
			overflow: hidden;
			@media #{$medium-down} {
				background-size: 80vh !important;
				width: grid(9.25);
			}
			@media #{$small-only} {
				background-size: 85vh !important;
				width: grid(20);
			}

			&--small {
				height: grid(7);
				@media #{$medium-down} {
					height: grid(10);
				}
				@media #{$small-only} {
					height: grid(20);
				}
			}

			&--medium {
				height: grid(8);
				@media #{$medium-down} {
					height: grid(12);
				}
				@media #{$small-only} {
					height: grid(20);
				}
			}

			&--large {
				height: grid(9);
				@media #{$medium-down} {
					height: grid(14);
				}
				@media #{$small-only} {
					height: grid(20);
				}
			}
		}
	}

	&__description {
		width: grid(6);
		padding: rem(32 30);
		@media #{$medium-down} {
			width: grid(9.25);
		}
		@media #{$small-only} {
			width: grid(20);
		}
	}

	&--hover {
		cursor: pointer;
		position: relative;
		transition: 1s $easeboth;
		z-index: 3;
		p {
			color: white;
			transition: 0.5s $easeboth;
		}
	}

	&--move {
		display: block;
			--top: calc((100vh - var(--height)) / 2);
		position: fixed; top: 0; bottom: 0; left: 0; right: 0;
		z-index: 2;
		color: white;
		width: grid(24);
		height: 100vh;
		margin-bottom: 0;
		.work__card__image-container {
			--y: calc(var(--height) + var(--top));
			--xleft: var(--margin);
			--xright: calc(var(--margin) + var(--width));
			width: 100vw;
			height: 100vh;
			position: fixed; top: 0; left: 0; right: 0; bottom: 0;
			z-index: 2;
			clip-path: polygon(var(--offsetLeft) var(--offsetY), var(--offsetRight) var(--offsetY), var(--offsetRight) calc(var(--offsetY) + var(--height)), var(--offsetLeft) calc(var(--offsetY) + var(--height)));

			animation: imageToClip 2.5s .5s $specialcubicbezier forwards, backgroundPos 2.5s $specialcubicbezier;
			&+p {
				opacity: 0;
				height: 0;
				transition: opacity 0s;
				padding: 0;
			}
		}
	}
	&--expand {
		.work__card__image-container {
			background-size: 100vw !important;
			transition: background-size 1.2s $specialcubicbezier;
			@media #{$medium-down}{
				background-size: 175vh !important;
			}
		}
	}
}


.background__canvas {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 1;
	transition: 1s $easeboth;
	opacity: 0;
	background: var(--background);
	pointer-events: none;
	&--mouseout {
		opacity: 0;
		transition: .3s $easeboth;
		& + .work__grid{
			.card--hover p {
				color: color(Black);
			}
		}
	}
	&--forward {
		z-index: 1;
		opacity: 0.9;
		transition: 1s $easeboth;
	}
	&--expand {
		opacity: 1;
		z-index: 1;
		pointer-events: auto;
	}
}

@keyframes imageToClip {
	0%{ //initial
		clip-path: polygon(var(--offsetLeft) var(--offsetY), var(--offsetRight) var(--offsetY), var(--offsetRight) calc(var(--offsetY) + var(--height)), var(--offsetLeft) calc(var(--offsetY) + var(--height)));
	}
	5% { // slide up
		clip-path: polygon(var(--offsetLeft) var(--top), var(--offsetRight) var(--top), var(--offsetRight) calc(var(--top) + var(--height)), var(--offsetLeft) calc(var(--top) + var(--height)));
	}
	19% { // stay up
		clip-path: polygon(var(--offsetLeft) var(--top), var(--offsetRight) var(--top), var(--offsetRight) calc(var(--top) + var(--height)), var(--offsetLeft) calc(var(--top) + var(--height)));
	}
	20% { // slide left
		clip-path: polygon(var(--xleft) var(--top), var(--xright) var(--top), var(--xright) var(--y), var(--xleft) var(--y));
	}
	30%{ //stay left
		clip-path: polygon(var(--xleft) var(--top), var(--xright) var(--top), var(--xright) var(--y), var(--xleft) var(--y));
	}
	100% { //expand
		clip-path: polygon(var(--minusWidth) var(--expHeight),
		var(--minusWidth) var(--minusHeight),
		var(--expWidth) var(--minusHeight),
		var(--expWidth) var(--expHeight));
	}
}

@keyframes backgroundPos {
	0%{ // wait to move
		background-position: var(--posX) var(--posY);
	}
	19%{ // wait to move
		background-position: var(--posX) var(--posY);
	}
	20% { // initial
		background-position: var(--posX) var(--posY);
	}
	25% { // slide up
		background-position: var(--posX) 50%;
	}
	39% { // stay up
		background-position: var(--posX) 50%;
	}
	40% { // center
		background-position: center;
	}
	100% {
		background-position: center;
	}
}
