.work-detail{
	.intro{ padding-top: grid(5);
		@media only screen and (max-width: 1024px) and (min-width: 768px){ padding-top: grid(7); }
		@media #{$mobile}{ padding: 0; }
		.intro-text{
			@media #{$large-up}{ padding-bottom: grid(2); }
			@media #{$large-down}{ padding-bottom: rem(120); }
			@media #{$mobile}{ padding: rem(96 64); }
			h2{ color: color(Light); }
		}
		.intro-image{ height: grid(12); margin-bottom: grid(6); background-size: cover; background-position: center center; background-repeat: no-repeat;
			@media #{$mobile}{ height: rem(600); }
		}
	}
	.hide{ display: none; }
}
