.work{
	.intro {
		background-color: color(Light);
		padding: grid(5) 0 grid(1) 0;
	}
	// show subtitle when typewriter is done
	.work__grid {
		transform: translateY(100vh);
		transition: .5s;
		&.stay {
			transform: none;
			transition: 0 .2s;
		}
	}
}
