section.intro {
	&+.gallery {
		margin-top: grid(2);
	}
}
// gallery
.gallery {
	height: 100vh;
	background: color(DarkGray);
	margin-bottom: grid(6);

	.swiper-container {
		overflow: hidden;
		width: 100vw;
		// swiper wrapper
		.swiper-wrapper {
			display: flex;
			justify-content: space-between;
			height: 100vh;
			width: grid(24);
			z-index: 1;

			.swiper-slide {
				height: 100%;
				width: grid(16);
				position: relative;
				@media #{$medium-only} {
					width: grid(18);
				}
				@media #{$small-only} {
					width: 100%;
					height: calc(100vw * 1.25);
					transform: translateY(0%);
				}

				&.swiper-slide-next{
					transform: translateX( grid(-3));
					z-index: 1;
				}
				&.swiper-slide-prev{
					// left: grid(3.325);
					transform: translateX( grid(3));
					z-index: 1;
				}
				&.swiper-slide-active{

				}

				&:nth-child(1),
				&:nth-child(4) {
					.content_container {
						.image_holder {
							// background: red;
							width: grid(12.5);
							height: grid(9.375);
						}
					}
				}

				&:nth-child(2),
				&:nth-child(5) {
					.content_container {
						.image_holder {
							// background: blue;
							width: grid(10);
							height: grid(13.75);
						}
					}
				}

				&:nth-child(3),
				&:nth-child(6) {
					.content_container {
						.image_holder {
							// background: green;
							width: grid(11.25);
							height: grid(11.25);
						}
					}
				}
				// content container
				.content_container {
					position: relative;
					display: flex;
					justify-content: center;
					align-items: center;
					height: 100%;
					width: 100%;
					// background: yellow;

					// image holder
					.image_holder {
						overflow: hidden;
						display: flex;
						align-items: center;
						justify-content: center;
						position: absolute;
						z-index: 2;
						display: block;
						transition: all 0.5s $cubic-bezier;
						transition-property: clip-path, -webkit-clip-path;
						cursor: pointer;

						img {
							object-fit: cover;
							margin: 0;
							position: relative;
							left: 50%;
							transform: translateX(-50%) scale(0.9);
							width: 100%;
							height: 100%;
						}
						// &:nth-child(1){
						// 	@media #{$medium-only}{
						// 		width: grid(17.5); height: grid(13.125);
						// 	}
						// }
						// &:nth-child(2){
						// 	clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
						// 	@media #{$medium-only}{
						// 		width: grid(15); height: grid(20);
						// 	}
						// }
						// &:nth-child(3){
						// 	clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
						// 	@media #{$medium-only}{
						// 		width: grid(17.5); height: grid(17.5);
						// 	}
						// }
						@media #{$small-only} {
							&.landscape_image,
							&.portrait_image,
							&.square_image {
								width: calc(100vw - 64px);
								height: calc(100vw - 64px);
								clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
							}
						}
					}
				}
			}
		}
	}
}

section.simpel_text{
	margin-bottom: grid(6);
	h3{ font-size: grid(.6); line-height: 1.33; }
	p{ font-size: grid(.4); line-height: 1.5; }
}

section.team_member{
	ul{
		li{
			display: inline-block;
			width: grid(8);
			position: relative;
			&:nth-child(1), &:nth-child(4) , &:nth-child(7), &:nth-child(10){
				&:after{
					display: none;
				}
			}
			&:after{
				content:'';
				display: block;
				height: grid(9.5);
				width: grid(1);
				background-color: color(Dark);
				filter: blur(20px);
				-webkit-filter: blur(20px);
				position: absolute;
				left: grid(-.5);
				top: grid(.25);
			}

			.picture_frame{
				display: block;
				width: grid(8);
				height: grid(10);
				overflow: hidden;
				position: relative;
				background-color: color(Dark);
				img{
					height: grid(10);
					object-fit: contain;
					left: 50%;
					transform: translateX(-50%);
					position: absolute;
				}
			}
			.member_info{
				padding: grid(.8) grid(1) grid(1.6) grid(2);
				p{
					margin: 0;
					padding: 0;
				 }
			}
		}
	}

}
