section.intro{
	& + .about{
		margin-top: grid(2);
		@media #{$small-only}{ margin-top: 0; }
	}
}

.intro {
	@media #{$mobile} {
		p{
			&:before{ content:'About — '; }
		}
	}
}



// section.subnav{
// 	& + .about,
// 	& + .what_we_do,
// 	& + .how_we_do_it{
// 		margin-top: grid(2);
// 	}
// }
//
// .subnav{
// 	text-align: center;
// 	.active{
// 		&:before{
// 			width: 100%;
// 		}
// 	}
// }

.black_bg{
	background-color: color(Black);
}

//show content when done typing intro
section.about, section.what_we_do, section.how_we_do_it{
	transform: translateY(100vh);
	transition: .5s;
	&.stay {
		transform: none;
		transition: 0 .2s;
	}
}

// only styling for about page
section.about{

	// 1 column content_block
	.simpel_text{
		margin-bottom: grid(2);
		@media #{$medium-down}{ padding: 0 rem(64); margin-bottom: grid(4); }
		h3{ font-size: grid(.6); line-height: 1.33;
			@media #{$medium-down}{ font-size: rem(24);}
		}
		p + p{ margin-top: rem(6); }
		p + h2{ margin-top: grid(1);
			@media #{$small-only}{ margin-top: rem(32); margin-bottom: rem(18); }
		 }
		h2{ margin-bottom: rem(32); }
		h5{ font-size: grid(.4); line-height: 1.5; font-weight: $font-regular; margin: rem(32) 0;
			@media #{$medium-down}{ font-size: rem(18); }
		}
		ul{ padding: rem(32) 0;
			li{ color: color(Gray); line-height: 1.78; font-size: rem(18); display: flex;
				&:before{ content:'-'; padding-right: 20px; }
			}
		}
	}

	// // 2 column content_block
	.title_block{
		h2{ font-size: grid(.6); line-height: 1.33; text-align: center; font-weight: $font-medium;
			@media #{$medium-down}{ font-size: rem(24); text-align: left; padding: 0 rem(64); }
		}
	}
	.content_block{
		padding: grid(1) grid(.5) grid(2) grid(.5);
		@media #{$medium-down}{ padding: rem(20) rem(64); }
		@media #{$small-only}{ padding: 0 rem(64) rem(64) rem(64); }
		.simple_text_content{ margin-right: grid(1); padding-top: rem(32);
			@media #{$small-only}{ padding-top: rem(12); }
			ul, ol{ padding: rem(32) 0;
				li{ color: color(Gray); line-height: 1.78; font-size: rem(18); display: flex;
					&:before{ content:'-'; padding-right: 20px; }
				}
			}
			p{
				b{
					font-weight: $font-medium;
				}
			}
			//link button
			&__link{ }
			&__text{ position: relative;
				&:before{ content: ''; position: absolute; right: 0; width: 0; background-color: color(Black); bottom: -4px; height: 1px; transition: width .3s $easeboth; }
				&:hover{
					&:before{ left: 0; right: auto; width: 100%; }
				}
			}
		}
	}

		// section client logo's
		.client_logo{
			padding: grid(4) 0;
			ul{ width: grid(20); text-align: center; margin: auto; display: flex;
				@media #{$small-only}{ width: 100vw; display: block; }
				li{ margin: auto; text-indent: -99999px;
					@media #{$small-only}{ margin: rem(32) 0; }
					&:before{ display: none; }
					&:nth-child(1), &:nth-child(2), &:nth-child(3){ display: block; height: rem(100); width: rem(300); display: inline-flex;
						@media #{$small-only}{ width: 100vw; }
						background-position: center center;
						background-repeat: no-repeat;
						background-size: contain;
					}
					&:nth-child(1){ background-image: url("~/assets/img/amnesty.png"); }
					&:nth-child(2){ background-image: url("~/assets/img/BBB_cycling.png"); }
					&:nth-child(3){ background-image: url("~/assets/img/schweppes.png"); }
				}
			}
		}

	// gallery
	.gallery {
		height: 100vh;
		background: color(DarkGray);
		margin-bottom: grid(6);
		position: relative;
		@media #{$small-only}{
			height: 60vh;
		}

		.container{
			position: absolute;
			top: 50%;
			transform: translate( 0 , -50% );
		}

		.swiper-container {
			overflow: hidden;
			// width: 100vw;

			// swiper wrapper
			.swiper-wrapper {
				display: flex;
				justify-content: space-between;
				height: grid(12);
				width: grid(24);
				z-index: 1;
				@media #{$small-only}{
					height: 60vh;
				}

				.swiper-slide {
					height: 100%;
					margin: 0px grid(1);
					position: relative;
					display: -webkit-box;
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-webkit-box-pack: center;
					-ms-flex-pack: center;
					-webkit-justify-content: center;
					justify-content: center;
					-webkit-box-align: center;
					-ms-flex-align: center;
					-webkit-align-items: center;
					align-items: center;
					@media #{$medium-down} {
						margin: 0;
					}

					&:nth-child(1n){ width: grid(12.5);
						@media #{$medium-down} {
							width: 100vw;
						}
						.content_container {
							.image_holder {
								width: grid(12);
								height: grid(8);
								@media #{$medium-down} {
									width: 80vw;
									height: 80vh;
								}
								@media #{$small-only}{
									height: 40vh;
								}
							}
						}
					}

					&:nth-child(2n){ width: grid(10);
						@media #{$medium-down} {
							width: 100vw;
						}
						.content_container {
							.image_holder {
								width: grid(8);
								height: grid(11.5);
								@media #{$medium-down} {
									width: 80vw;
									height: 80vh;
								}
								@media #{$small-only}{
									height: 40vh;
								}
							}
						}
					}

					&:nth-child(3n){width: grid(11.25);
						@media #{$medium-down} {
							width: 100vw;
						}
						.content_container {
							.image_holder {
								width: grid(10);
								height: grid(10);
								@media #{$medium-down} {
									width: 80vw;
									height: 80vh;
								}
								@media #{$small-only}{
									height: 40vh;
								}
							}
						}
					}
					// content container
					.content_container {
						position: relative;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 100%;
						width: 100%;

						// image holder
						.image_holder {
							overflow: hidden;
							display: flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							z-index: 2;
							display: block;
							transition: all 0.5s $cubic-bezier;
							transition-property: clip-path, -webkit-clip-path;
							cursor: pointer;

							img {
								object-fit: cover;
								margin: 0;
								position: relative;
								left: 50%;
								transform: translateX(-50%);
								width: 100%;
								height: 100%;
							}

							@media #{$small-only} {
								&.landscape_image,
								&.portrait_image,
								&.square_image {
									width: calc(100vw - 64px);
									height: calc(100vw - 64px);
									clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
								}
							}
						}
					}
				}
			}
		}
	}


	//team member section
	.team_member{ margin-top: grid(4);
		ul{ position: relative; background-color: color(Black);
			@media #{$small-only}{
				width: 100vw; display: flex; height: 80%;
				// scroll on $mobile
				flex-wrap: nowrap;
				will-change: transform;
				align-content: center;
				overflow-x: auto;
				-webkit-overflow-scrolling: touch;
				scroll-snap-coordinate: 0 0;
				scroll-snap-points-x: repeat(100%);
				scroll-snap-type: mandatory;
				overflow: scroll;
			}
			&:before{
				content: ''; display: block; height: grid(3); width: 100vw; position: absolute; bottom:0px; background-color: color(White);
				@media #{$small-only}{ display: none; }
			}
			li{
				@media #{$small-only}{ width: 100vw; height: 60vh;
					scroll-snap-align: start;
					-webkit-scroll-snap-align: start;
					width: 100vw;
				}
				display: inline-block;
				width: grid(8);
				position: relative;
				&:nth-child(1), &:nth-child(4) , &:nth-child(7), &:nth-child(10){
					&:after{
						display: none;
							@media #{$small-only}{ display: none; }
					}
				}
				&:after{
					content:'';
					display: block;
					height: grid(9.5);
					width: grid(1);
					background-color: color(Dark);
					filter: blur(20px);
					-webkit-filter: blur(20px);
					position: absolute;
					left: grid(-.5);
					top: grid(.25);
					@media #{$small-only}{ display: none; }
				}

				.picture_frame{
					display: block;
					width: grid(8);
					height: grid(10);
					overflow: hidden;
					position: relative;
					background-color: color(Dark);
					@media #{$small-only}{ width: 100vw; height: 80%; top: 0px; }
					img{
						height: grid(10);
						object-fit: contain;
						left: 50%;
						transform: translateX(-50%);
						position: absolute;
						@media #{$small-only}{ width: auto; height: 100%; bottom: 0px;
						}
					}
				}
				.member_info{
					background-color: color(White);
					padding: grid(.8) grid(1) 0 grid(2);
					height: grid(3);
					@media #{$small-only}{
						width: 100vw; height: auto; bottom: 0px; padding: rem(32) rem(64); position: absolute;
					}

					p{
						margin: 0;
						padding: 0;
					 }
				}
			}
		}
	}
}

// only stylng for what we do pages
// section.what_we_do{
// 	background-color: color(Black);
// 	color: color(White);
// 	h3{ font-size: rem(48); line-height: 1.33; font-weight: $font-medium; }
// 	h5{ font-size: rem(24); line-height: 1.33; font-weight: $font-regular; }
// 	p{}
// 	ul{ padding-top: rem(32);
// 		li{ color: color(Gray); line-height: 1.78; font-size: rem(18);
// 			&:before{ content:'-'; padding-right: 20px; }
// 		}
// 	}
// 	a.nav_link{ position: relative; color: color(White); font-weight: $font-medium; padding: 0px; cursor: pointer; display: inline-block;
// 		&:before{ content: ''; position: absolute; right: 0; width: 0; background-color: color(White); bottom: 0px; height: 1px; transition: width .3s $easeboth; }
// 		&:hover{
// 			&:before{ left: 0; right: auto; width: 100%; }
// 		}
// 		&.active{
// 			&:before{ left: 0; right: auto; width: 100%; }
// 			&:hover{
// 				&:before{ left: auto; right: 0; width: 0; }
// 			}
// 		}
// 	}
// 	.header_image{
// 		background-color: color(DarkGray);
// 		height: 100vh;
// 		width: 100vw;
// 		margin-bottom: grid(4);
// 		.image_holder{
// 			height: 100%;
// 			width: 100%;
// 			display: block;
// 			background-image: url("~/assets/img/placeholder_1.png");
// 			background-position: center center;
// 			background-repeat: no-repeat;
// 		}
// 	}
// 	.content_block_left {
// 		display: flex;
// 		align-items: center;
// 		.content{
// 			padding: 0 grid(1);
// 		}
// 		.image_holder{
// 			height: grid(8);
// 			width: grid(8);
// 			display: block;
// 			background-image: url("~/assets/img/placeholder_1.png");
// 			background-position: center center;
// 			background-repeat: no-repeat;
// 		}
// 		padding-bottom: grid(4);
// 	}
// 	.content_block_right {
// 		display: flex;
// 		align-items: center;
// 		.content{
// 			padding: 0 grid(1);
// 		}
// 		.image_holder{
// 			height: grid(8);
// 			width: grid(8);
// 			display: block;
// 			background-image: url("~/assets/img/placeholder_1.png");
// 			background-position: center center;
// 			background-repeat: no-repeat;
// 		}
// 		padding-bottom: grid(4);
// 	}
// 	.content_block{
// 		padding-bottom: grid(4);
// 		.content{ padding: 0 grid(1);
// 			h3{ font-size: rem(32); line-height: 1.5; font-weight: $font-medium; }
// 			a{ margin-top: rem(64); }
// 		}
// 	}
// 	.awards{
// 		padding-bottom: grid(4);
// 		ul{ width: grid(20); text-align: center; margin: auto; display: flex;
// 			li{ margin: auto; text-indent: -99999px;
// 				&:before{ display: none; }
// 				&:nth-child(1), &:nth-child(2), &:nth-child(3){ display: block; height: rem(100); width: rem(300); display: inline-flex;
// 					background-position: center center;
// 					background-repeat: no-repeat;
// 					background-size: contain;
// 				}
// 				&:nth-child(1){ background-image: url("~/assets/img/awwwards.png"); }
// 				&:nth-child(2){ background-image: url("~/assets/img/css-da-logo.png"); }
// 				&:nth-child(3){ background-image: url("~/assets/img/german_design.png"); }
// 			}
// 		}
// 	}
// }
//
//
// // only stylng for how we do itpages
// section.how_we_do_it{
// 	background-color: color(Black);
// 	color: color(White);
// 	h3{ font-size: rem(48); line-height: 1.33; font-weight: $font-medium; }
// 	h5{ font-size: rem(24); line-height: 1.33; font-weight: $font-regular; }
// 	.header_image{
// 		background-color: color(DarkGray);
// 		height: 100vh;
// 		width: 100vw;
// 		margin-bottom: grid(4);
// 		.image_holder{
// 			height: 100%;
// 			width: 100%;
// 			display: block;
// 			background-image: url("~/assets/img/placeholder_1.png");
// 			background-position: center center;
// 			background-repeat: no-repeat;
// 		}
// 	}
// 	.content_block_left {
// 		display: flex;
// 		align-items: center;
// 		.content{
// 			padding: 0 grid(1);
// 		}
// 		.image_holder{
// 			height: grid(8);
// 			width: grid(8);
// 			display: block;
// 			background-image: url("~/assets/img/placeholder_1.png");
// 			background-position: center center;
// 			background-repeat: no-repeat;
// 		}
// 		padding-bottom: grid(4);
// 	}
// 	.content_block{
// 		padding-bottom: grid(4);
// 		.content{ padding: 0 grid(1);
// 			h3{ font-size: rem(32); line-height: 1.5; font-weight: $font-medium; }
// 			a{ margin-top: rem(64); }
// 		}
// 	}
// 	.clients{
// 		padding-bottom: grid(4);
// 		ul{ width: grid(20); text-align: center; margin: auto; display: flex;
// 			li{ margin: auto; text-indent: -99999px;
// 				&:before{ display: none; }
// 				&:nth-child(1), &:nth-child(2), &:nth-child(3){ display: block; height: rem(100); width: rem(300); display: inline-flex;
// 					background-position: center center;
// 					background-repeat: no-repeat;
// 					background-size: contain;
// 				}
// 				&:nth-child(1){ background-image: url("~/assets/img/amnesty.png"); }
// 				&:nth-child(2){ background-image: url("~/assets/img/BBB_cycling.png"); }
// 				&:nth-child(3){ background-image: url("~/assets/img/schweppes.png"); }
// 			}
// 		}
// 	}
// }
