section.intro{
	& + .about{
		margin-top: grid(2);
	}
}

// section.subnav{
// 	& + .about,
// 	& + .what_we_do,
// 	& + .how_we_do_it{
// 		margin-top: grid(2);
// 	}
// }

.subnav{
	text-align: center;
	.active{
		&:before{
			width: 100%;
		}
	}
}

//show content when done typing intro
section.about, section.what_we_do, section.how_we_do_it{
	transform: translateY(100vh);
	transition: .5s;
	&.stay {
		transform: none;
		transition: 0 .2s;
	}
}

// only styling for about page
section.about{
	.black_bg{
		background-color: color(Black);
		color: color(White);
	}
		.content_block{
			padding: grid(4) grid(2);
		}
	// gallery
	.gallery {
		height: 100vh;
		background: color(DarkGray);
		margin-bottom: grid(6);

		.swiper-container {
			overflow: hidden;
			width: 100vw;
			// swiper wrapper
			.swiper-wrapper {
				display: flex;
				justify-content: space-between;
				height: 100vh;
				width: grid(24);
				z-index: 1;

				.swiper-slide {
					height: 100%;
					width: grid(16);
					position: relative;
					@media #{$medium-only} {
						width: grid(18);
					}
					@media #{$small-only} {
						width: 100%;
						height: calc(100vw * 1.25);
						transform: translateY(0%);
					}

					&:nth-child(1),
					&:nth-child(4) {
						.content_container {
							.image_holder {
								// background: red;
								width: grid(12.5);
								height: grid(9.375);
							}
						}
					}

					&:nth-child(2),
					&:nth-child(5) {
						.content_container {
							.image_holder {
								// background: blue;
								width: grid(10);
								height: grid(13.75);
							}
						}
					}

					&:nth-child(3),
					&:nth-child(6) {
						.content_container {
							.image_holder {
								// background: green;
								width: grid(11.25);
								height: grid(11.25);
							}
						}
					}
					// content container
					.content_container {
						position: relative;
						display: flex;
						justify-content: center;
						align-items: center;
						height: 100%;
						width: 100%;
						// background: yellow;

						// image holder
						.image_holder {
							overflow: hidden;
							display: flex;
							align-items: center;
							justify-content: center;
							position: absolute;
							z-index: 2;
							display: block;
							transition: all 0.5s $cubic-bezier;
							transition-property: clip-path, -webkit-clip-path;
							cursor: pointer;

							img {
								object-fit: cover;
								margin: 0;
								position: relative;
								left: 50%;
								transform: translateX(-50%) scale(0.9);
								width: 100%;
								height: 100%;
							}
							// &:nth-child(1){
							// 	@media #{$medium-only}{
							// 		width: grid(17.5); height: grid(13.125);
							// 	}
							// }
							// &:nth-child(2){
							// 	clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
							// 	@media #{$medium-only}{
							// 		width: grid(15); height: grid(20);
							// 	}
							// }
							// &:nth-child(3){
							// 	clip-path: polygon(10% 10%, 90% 10%, 90% 90%, 10% 90%);
							// 	@media #{$medium-only}{
							// 		width: grid(17.5); height: grid(17.5);
							// 	}
							// }
							@media #{$small-only} {
								&.landscape_image,
								&.portrait_image,
								&.square_image {
									width: calc(100vw - 64px);
									height: calc(100vw - 64px);
									clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
								}
							}
						}
					}
				}
			}
		}
	}
	.simpel_text{
		margin-bottom: grid(6);
		h3{ font-size: grid(.6); line-height: 1.33; }
		p{ font-size: grid(.4); line-height: 1.5; }
	}

	.team_member{
		ul{
			li{
				display: inline-block;
				width: grid(8);
				position: relative;
				&:nth-child(1), &:nth-child(4) , &:nth-child(7), &:nth-child(10){
					&:after{
						display: none;
					}
				}
				&:after{
					content:'';
					display: block;
					height: grid(9.5);
					width: grid(1);
					background-color: color(Dark);
					filter: blur(20px);
					-webkit-filter: blur(20px);
					position: absolute;
					left: grid(-.5);
					top: grid(.25);
				}

				.picture_frame{
					display: block;
					width: grid(8);
					height: grid(10);
					overflow: hidden;
					position: relative;
					background-color: color(Dark);
					img{
						height: grid(10);
						object-fit: contain;
						left: 50%;
						transform: translateX(-50%);
						position: absolute;
					}
				}
				.member_info{
					padding: grid(.8) grid(1) grid(1.6) grid(2);
					p{
						margin: 0;
						padding: 0;
					 }
				}
			}
		}
	}
}

// only stylng for what we do pages
section.what_we_do{
	background-color: color(Black);
	color: color(White);
	h3{ font-size: rem(48); line-height: 1.33; font-weight: $font-medium; }
	h5{ font-size: rem(24); line-height: 1.33; font-weight: $font-regular; }
	p{}
	ul{ padding-top: rem(32);
		li{ color: color(Gray); line-height: 1.78; font-size: rem(18);
			&:before{ content:'-'; padding-right: 20px; }
		}
	}
	a.nav_link{ position: relative; color: color(White); font-weight: $font-medium; padding: 0px; cursor: pointer; display: inline-block;
		&:before{ content: ''; position: absolute; right: 0; width: 0; background-color: color(White); bottom: 0px; height: 1px; transition: width .3s $easeboth; }
		&:hover{
			&:before{ left: 0; right: auto; width: 100%; }
		}
		&.active{
			&:before{ left: 0; right: auto; width: 100%; }
			&:hover{
				&:before{ left: auto; right: 0; width: 0; }
			}
		}
	}
	.header_image{
		background-color: color(DarkGray);
		height: 100vh;
		width: 100vw;
		margin-bottom: grid(4);
		.image_holder{
			height: 100%;
			width: 100%;
			display: block;
			background-image: url("~/assets/img/placeholder_1.png");
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	.content_block_left {
		display: flex;
		align-items: center;
		.content{
			padding: 0 grid(1);
		}
		.image_holder{
			height: grid(8);
			width: grid(8);
			display: block;
			background-image: url("~/assets/img/placeholder_1.png");
			background-position: center center;
			background-repeat: no-repeat;
		}
		padding-bottom: grid(4);
	}
	.content_block_right {
		display: flex;
		align-items: center;
		.content{
			padding: 0 grid(1);
		}
		.image_holder{
			height: grid(8);
			width: grid(8);
			display: block;
			background-image: url("~/assets/img/placeholder_1.png");
			background-position: center center;
			background-repeat: no-repeat;
		}
		padding-bottom: grid(4);
	}
	.content_block{
		padding-bottom: grid(4);
		.content{ padding: 0 grid(1);
			h3{ font-size: rem(32); line-height: 1.5; font-weight: $font-medium; }
			a{ margin-top: rem(64); }
		}
	}
	.awards{
		padding-bottom: grid(4);
		ul{ width: grid(20); text-align: center; margin: auto; display: flex;
			li{ margin: auto; text-indent: -99999px;
				&:before{ display: none; }
				&:nth-child(1), &:nth-child(2), &:nth-child(3){ display: block; height: rem(100); width: rem(300); display: inline-flex;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: contain;
				}
				&:nth-child(1){ background-image: url("~/assets/img/awwwards.png"); }
				&:nth-child(2){ background-image: url("~/assets/img/css-da-logo.png"); }
				&:nth-child(3){ background-image: url("~/assets/img/german_design.png"); }
			}
		}
	}
}


// only stylng for how we do itpages
section.how_we_do_it{
	background-color: color(Black);
	color: color(White);
	h3{ font-size: rem(48); line-height: 1.33; font-weight: $font-medium; }
	h5{ font-size: rem(24); line-height: 1.33; font-weight: $font-regular; }
	.header_image{
		background-color: color(DarkGray);
		height: 100vh;
		width: 100vw;
		margin-bottom: grid(4);
		.image_holder{
			height: 100%;
			width: 100%;
			display: block;
			background-image: url("~/assets/img/placeholder_1.png");
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	.content_block_left {
		display: flex;
		align-items: center;
		.content{
			padding: 0 grid(1);
		}
		.image_holder{
			height: grid(8);
			width: grid(8);
			display: block;
			background-image: url("~/assets/img/placeholder_1.png");
			background-position: center center;
			background-repeat: no-repeat;
		}
		padding-bottom: grid(4);
	}
	.content_block{
		padding-bottom: grid(4);
		.content{ padding: 0 grid(1);
			h3{ font-size: rem(32); line-height: 1.5; font-weight: $font-medium; }
			a{ margin-top: rem(64); }
		}
	}
	.clients{
		padding-bottom: grid(4);
		ul{ width: grid(20); text-align: center; margin: auto; display: flex;
			li{ margin: auto; text-indent: -99999px;
				&:before{ display: none; }
				&:nth-child(1), &:nth-child(2), &:nth-child(3){ display: block; height: rem(100); width: rem(300); display: inline-flex;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: contain;
				}
				&:nth-child(1){ background-image: url("~/assets/img/amnesty.png"); }
				&:nth-child(2){ background-image: url("~/assets/img/BBB_cycling.png"); }
				&:nth-child(3){ background-image: url("~/assets/img/schweppes.png"); }
			}
		}
	}
}
