#IconsCaption {
	margin-bottom: grid(5);
	@media #{$small-only} {
		margin-bottom: rem(96);
	}

	.case-color {
		width: 100%;
		height: grid(6);
		display: block;
		position: relative;
		margin-bottom: grid(2);
		padding: grid(1.5) grid(2);
		@media #{$medium-down}{
			height: auto;
		}
		@media #{$small-only}{
			width: calc(100% - 64px);
			display: flex;
		}

		ul {
			background-color: red;
			width: 100%;
			position: relative;
			display: inline-flex;
			justify-content: space-between;
			li {
				&.iconHolder {
					overflow: hidden;
					background-color: black;
					position: relative;
					height: rem(80);
					width: rem(80);

					@media #{$medium-down}{
						height: rem(80);
						width: rem(80);
					}
					@media #{$small-only}{
						height: rem(64);
						width: rem(64);
					}
				}
			}
		}
	}
}
