.nav__list {
  display: inline-block;
  .nav__item {
    display: inline-block;
  }
}

body.white_menu {
  .nav {
    &__link {
      &::before {
        background-color: color(White);
      }
    }

    &__text {
      color: color(White);
    }
  }
}
