section.info_table{
	// distance to section
	& + section.boxed_image_video{ margin-top: grid(4);
		@media #{$medium-down}{ margin-top: grid(5); }
		@media #{$mobile}{ margin-top: rem(96); }
	}

	// @media #{$small-only}{ width: calc(100% - 128px); margin: 0 auto rem(96); }

	// general styles
	a, p{ padding: rem(28) 0; font-size: rem(16); line-height: rem(28);
		span.gray{ color: color(Gray); }
		&.medium{ padding-left: grid(.25); }
	}
	a.nav_link{ position: relative; color: color(Dark); padding: 0px; cursor: pointer; display: inline-block;
		&:before{ content: ''; position: absolute; right: 0; width: 0; background-color: color(Dark); bottom: 4px; height: 1px; transition: width .3s $easeboth; }
		&:hover{
			&:before{ left: 0; right: auto; width: 100%; }
		}
		&.active{
			&:before{ left: 0; right: auto; width: 100%; }
			&:hover{
				&:before{ left: auto; right: 0; width: 0; }
			}
		}
	}
	// payoff
	.payoff{
		p{ @extend h2; font-weight: $font-medium; }
	}
	// credits
	.credits{ margin-top: grid(2); width: 100%; display: block;
		@media #{$medium-down}{ margin-top: calc(64px - 24px); }
		@media #{$small-only}{ margin-top:rem(64); }
		.item{ border-bottom: 1px solid color(Gray, .25);
			&:last-child{ border-bottom: none; }
			.line{
				@media #{$medium-down}{ margin: rem(24) 0 ; }
				@media #{$small-only}{ width: 100%; }
			}
		}
	}
	// link
	.link{
		p{ color: color(Gray); padding-left: grid(.5); padding-bottom: 0; position: relative;
			&:before{ content: '*'; display: block; position: absolute; left: grid(.25); }
			a.nav_link, span{ color: color(Gray);
				&:before{ background-color: color(Gray); }
			}
		}
	}
}
