section#payoffCredits{ margin-bottom: grid(5);
	@media #{$small-only}{ width: calc(100% - 128px); margin: 0 auto rem(96); }
	// payoff
	.payoff{
		p{ @extend h2; font-weight: $font-medium; }
	}
	// credits
	.credits{ background: red;
		margin-top: grid(2);
		@media #{$medium-down}{ margin-top: calc(64px - 24px); }
		@media #{$small-only}{ margin-top:rem(64); }
		.item{ background: green; margin: 0 0 20px 0;
			a, p{ padding: rem(26) 0; font-size: rem(16); line-height: rem(28);
				@media #{$medium-down}{
					padding: rem(4) 0;
				}

				&.medium {
					padding-left: grid(0.2625);
					@media #{$medium-down} {
						padding-left: 0;
					}
				}

				span {
					font-weight: $font-regular;
					color: color(Gray);

					&:after {
						display: none;
					}
				}
			}
		}

		.line {
			background-color: color(Gray, .25);
			width: grid(12);
			height: rem(1);
			margin: auto;
			@media #{$medium-down} {
				width: grid(16);
				margin: rem(24) 0 ;
			}
			@media #{$small-only} {
				width: 100%;
			}
		}

		.link {
			margin-top: grid(1);
			@media #{$medium-down} {
				margin-top: calc(64px - 24px);
			}

			p {
				position: relative;
				margin-left: grid(0.2625);
				@media #{$medium-down}{
					margin-left: rem(14);
				}

				span {
					display: inline-block;
					position: absolute;
					left: grid(-0.2625);
					@media #{$medium-down}{
						left: rem(-14);
					}

					&:after {
						display: none;
					}
				}
			}
		}
	}
}
