// #pre-loader {
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	background: color(Black);
// 	width: 100%;
// 	height: 100%;
// 	z-index: 13;
// 	display: flex;
// 	align-items: center;
// 	justify-content: center;
// 	overflow: hidden;
// 	animation: zoofOut 1s ease-in 6s forwards;
// 	// display: none;
// 	@keyframes zoofOut {
// 		0%{
// 			width: 100%;
// 			right: 0 !important;
// 		}
// 		100%{
// 			width: 0%;
// 			right: 0 !important;
// 			clip: rect(auto, auto, auto, auto);
// 			backface-visibility: hidden;
// 		}
// 	}

// 	.intro-quote-inner {
// 		text-align: center;
// 		position: relative;
// 		animation: becomeFixed 0s ease-in 6s forwards;
// 		@keyframes becomeFixed {
// 			from {position: relative;}
// 			to {
// 				position: fixed;
// 				transform: translate(-50%,-50%);
// 				left: 50%;
// 				top:50%;
// 			}
// 		}
// 		h2 {
// 			color: color(Light);
// 			z-index:1;
// 			&:after {
// 				content: "Emphatic Branding";
// 				opacity: 1;
// 				animation: textChange 4s ease-in 0.5s forwards;
// 			}
// 			@keyframes textChange {
// 				0%{
// 					content: "Emphatic Branding";
// 					opacity: 1;
// 				}
// 				12.5%{ opacity: 0;}
// 				25%{
// 					content: "Creative Strategy";
// 					opacity: 1;
// 				}
// 				37.5% {opacity: 0;}
// 				50%{
// 					content: "Innovative Digital";
// 					opacity: 1;
// 				}
// 				62.5% {opacity: 0;}
// 				75%{
// 					content: "Aspiring rental box mogul";
// 					opacity: 1;
// 				}
// 				87.5% {opacity: 0;}
// 				100% {
// 					content: "Not your average Agency";
// 					color: color(Black);
// 					opacity: 1;
// 				}
// 			}
// 		}
// 		.zoofer {
// 			$zooferWidth: grid(3);
// 			background: color(Black);
// 			height: 100%;
// 			width: #{$zooferWidth};
// 			position: absolute;
// 			top: 0;
// 			left: -#{$zooferWidth};
// 			animation: zoof 1s ease-in 3 0.5s forwards;
// 			transition: left 0.5 ease-in-out;
// 			z-index: 2;
// 			opacity:1;

// 			@keyframes zoof {
// 				0%{
// 					left: -#{$zooferWidth};
// 					opacity: 1;
// 				}
// 				99.9% {
// 					opacity: 1;
// 				}
// 				100% {
// 					left: grid(6);
// 					opacity: 0;
// 				}
// 			}
// 		}
// 	}
// 	.zooferWhite {
// 		position: absolute;
// 		background: color(Light);
// 		height: 100%;
// 		width: 0%;
// 		left: 0%;
// 		top: 0;
// 		animation: zoofWhiteIn 1s ease-in 3.5s forwards;
// 		@keyframes zoofWhiteIn {
// 			0%{
// 				width: 0%;
// 			}
// 			100%{
// 				width: 100%;
// 				right: 0 !important;
// 			}
// 		}
// 	}
// }
