// overall intro section styling
section.intro {
  padding-top: grid(5);

  @media #{$small-only} {
    background-color: color(Black);
    padding: rem(96) rem(64);

    p {
      color: color(White);
      text-align: left;
      line-height: 1.5;
      font-size: rem(20);
      font-weight: $font-regular;
      padding-top: 0;

      &::before {
        font-weight: $font-medium;
      }
    }

    .paragraph_shower {
      justify-content: normal;

      p {
        padding-top: 0;
      }
    }

    h1 {
      display: none;
    }
  }
}
