.footer{
	background: white; padding: grid(4 4 1.5);
	&__title{}
	&__nav{ margin-top: grid(.5);
		&__list-item{
			padding-right: rem(45);
		}
	}
	&__contact-us{ margin-top: grid(1.5)}
	&__contact{line-height: rem(32); }
	&__social{ margin-left: grid(1.5); line-height: rem(32);}
	&__practical{ margin-top: grid(1.5);
		&__item{
			padding-right: rem(45);
		}
	}
}
