.center{ margin: auto; }

.holder{ background-color: red; width: 100%; height: grid(10.125); display: block;
  &.shadow{
    &:after{ content: ''; width: calc(100% - 80px); background-color: hotpink; display: block; }
  }
}
