//body text
%p{
	font-family: $body-font-family; font-size: rem(18); line-height: rem(32); margin: 0; padding: 0;
	@media #{$large-down}{ font-size: rem(16); line-height: rem(30); }
	span{
		&:after{ content: ' —'; font-weight: $font-regular; }
	}
}

// headers
%header-default{
	font-family: $body-font-family; margin: 0; padding: 0;
}

%h1{
	font-size: grid(2); font-weight: $font-semibold; line-height: 1; text-align: center;
	@extend %header-default;
	@include min-fontsize(2,20);
	@media #{$small-only}{
		font-size: rem(20); line-height: 1.5;
	}
}

%h2{
	font-size: grid(0.4); font-weight: $font-regular; line-height: 1.5;
	@extend %header-default;
	@include min-fontsize(.4,20);
	span{
		&:after{ content: ' —'; font-weight: $font-regular; }
	}
	&.centered{ text-align: center; }
}

%h3{
	font-size: grid(0.3); font-weight: $font-medium; line-height: 1.5;
	@extend %header-default;
	@include min-fontsize(.3,24);
	@media #{$small-only}{
		font-size: rem(20);
	}
}

%h4{
	font-size: 1rem; font-weight: $font-regular; line-height: 1.5;
	@extend %header-default;
	@media #{$medium-only}{
		line-height: rem(30);
	}
	@media #{$small-only}{
		font-size: rem(14); line-height: rem(24);
	}
	span{
		&:after{ content: ' —'; font-weight: $font-regular; }
	}
}

%h5{
	@extend %h4;
}

%h6{
	@extend %h4;
}

%blockquote{
	@extend %h2; font-weight: $font-medium;
}

// make font styles fallback
%font-regular{
	font-weight: $font-regular;
}
%font-medium{
	font-weight: $font-medium;
}
%strong{
	font-weight: $font-medium;
}
%font-semibold, %font-bold{
	font-weight: $font-semibold;
}
%small{
	font-size: smaller;
}
%del{
	text-decoration: line-through;
}
%ins{
	text-decoration: underline;
}
%sub{
	font-size: smaller; vertical-align: sub;
}
%sup{
	font-size: smaller; vertical-align: sup;
}
%blockquote{
	margin: 0;
}
