h1{
  & + h1,
  & + h2{
    margin-top: grid(.6);
  }
  & + h3,
  & + h4,
  & + h5,
  & + h6,
  & + p,
  & + a,
  & + ol,
  & + ul{
    margin-top: 0px;
  }
}

h2{
    & + ul {
      margin-top: rem(40);
    }
}

h3{
  & + p, & + .simple_text_content{
    margin-top: 2rem;
    @media #{$medium-down}{
      margin-top: 30px;
    }
  }
}

p{
  & + p{
    margin-top: 2rem;
    @media #{$large-down}{
      margin-top: rem(30);
    }
  }
}
