$base-fontpath: '../../static/fonts';


$body-font-weights: (
  'Regular': 400,
  'Medium': 500,
  'SemiBold': 600,
);

$font-regular: map-get($body-font-weights, Regular); //
$font-medium: map-get($body-font-weights, Medium); //
$font-semibold: map-get($body-font-weights, SemiBold); //

// Base font
$body-font: 'Graphik'; //
$body-font-name: 'Graphik-'; //
$body-font-family: #{$body-font}, 'Helvetica Neue', Arial, sans-serif; //

.body-font-family,
%body-font-family {
  font-family: $body-font-family;
}

/* embed sing font weight */
@include font-list($body-font,$body-font-name,$body-font-weights,normal); //
